﻿@{
    ViewData["Title"] = "Анекдоты про Штирлица";
}

<h1 class="d-flex justify-content-center display-5">Внимание, анекдот:</h1>
<div class="d-flex flex-row h-100" style="flex: 1 1 auto">
    <button class="border bg-white rounded-start display-3" id="btn-back"><</button>
    <div class="d-flex flex-column gap-2 p-3 border-top border-bottom"
    style="flex: 1 1 auto"
    id="anecdote-container">
        @for (var i = 0; i < ViewBag.Anecdotes.Count; i++)
        {
            var anecdote = ViewBag.Anecdotes[i];
            <div class="d-none anecdote display-6" id="@i">@anecdote</div>
        }
    </div>
    <button class="display-3 border rounded-end bg-white" style="margin-left: auto" id="btn-forward">>
    </button>

</div>
<script src="~/js/anecdotes.js"></script>
