﻿@{
    ViewData["Title"] = "Задача";
}

<div class="text-center d-flex flex-column" style="flex: 1 1 auto;">
    <h1 class="display-4" style="flex: 0 1 auto;">Задача</h1>
    <div class="d-flex flex-column gap-0" id="container" style="flex: 1 1 auto;">
        <textarea class="border p-2 rounded-top w-100 font-weight-light"
        id="matrix"
        style="flex: 1 1 auto; font-size: 1.2rem; font-weight: 300; line-height: 1.3rem; resize: none;" 
        placeholder="Введите матрицу"></textarea class="border border-bottom-0 border-top-0 d-flex flex-row" style="flex: 0 1 auto;">
        <div class="d-flex flex-row">
            <input type="text" class="p-2 border-0 border-start border-end"
            style="flex: 1 1 auto; font-size: 1.2rem; font-weight: 300; line-height: 1.5rem;"
            placeholder="Введите искомое число" 
            id="target"/>
            <input type="text" class="p-2 border-0 border-end" 
            style="flex: 1 1 auto; font-size: 1.2rem; font-weight: 300; line-height: 1.5rem;" 
            readonly placeholder="Результат" id="result" />
        </div>
        <button class="display-6 border rounded-bottom bg-white pb-2" 
        style="flex: 0 1 auto;" 
        action="solve",
        id="submit"
        type="submit">Отправить</button>
    </div>
    <script src="~/js/solve.js"></script>
</div>
